<div class="card mb-3 search-result">
<div class="row no-gutters">
    <div class="col-md-8">
        <h3 class="card-title"><a href="{{link}}">{{title}}</a></h3>
        <p class="card-text"><small class="text-muted">{{link}}</small></p>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-md-3">
        <img src="{{link}}" class="result-image" />
    </div> 
    <div class="col-md-8">
            <p class="card-text">{{desc}}</p>
    </div> 
</div>

</div>
